# Google Cloud SDK
# SEE https://github.com/dbt-labs/dbt/blob/develop/plugins/bigquery/setup.py#L48-L56
google-cloud-bigquery>=1.25.0,<3
google-cloud-storage==1.38.0

# REST API
pytz==2021.1
fastapi==0.65.2
uvicorn[standard]==0.13.4
python-dotenv==0.17.0
python-json-logger==2.0.1

# dbt
dbt-bigquery==1.0.0

# Utils
datamodel-code-generator==0.11.13
python_jsonschema_objects==0.3.14
bigquery-schema-generator==1.4.1
deepmerge==0.3.0
